body {
    padding: 0px;
    margin: 0px;
}

.container{
    width: 960px;
    margin: 0 auto;
}

.head {
    width: 100%;
    height: 60px;
    background-color: #d28ef0;
    margin:0 auto;
    position: fixed;
    z-index: 999;
}

.content {
    width: 960px;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 0px;
    background-image: url(bg.jpg);
}

.foot {
    background-color: #07c3fc;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    position: fixed;
    clear: both;
    z-index: 999;
}
.left {
    float: left;
    width:300px;
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #c174e7;
}

.right {
    float: left;
    width:300px;
    height: 160px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #9ebdf1;
}

.head > .container {
    background-color: #59bde7;
    height: 60px;
}

img {
    padding-left:550px; 
}

a {
    text-decoration: none;
    color: #05b0ff;
    padding-left: 290px
}

table {
    text-align: center;
    font-weight: bold;
}

p {
    text-indent: 20px;
}

h3 {
    background-color: #d28ef0;
    color: rgba(95, 26, 224, 0.61);
    width: 200px;
    line-height: 30px;
    padding-left: 20px
}

@media (max-width:960px) {
    .container {
        width:100%;
    }
    .right {
        width:100%;
    }
    .left {
        width:100%;
    }
}

@keyframes myfirst{
    from {
        background: rgb(71, 59, 59);
    }
    to {
        background: rgb(231, 231, 180);
    }
    }
    div{
    animation: myfirst 5s;
    -moz-animation: myfirst 5s;
    -webkit-animation: myfirst 5s;
    -o-animation: myfirst 5s;
    }
    
    div{
        transition: width 2s;
        }
        div:hover{
        width:300px;
        }